body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #0a0a0a;
  color: #f0f0f0;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 3rem;
  color: #5ab9ea;
}

p {
  font-size: 1.2rem;
  color: #dcdcdc;
}
